*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #333;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

#game-board {
    background-color: #cccccc;
    border-radius: 1vmin;
    
    display: grid;
    
    grid-template-columns: repeat(var(--grid-nums), var(--grid-track-size));
    grid-template-rows: repeat(var(--grid-nums), var(--grid-track-size));
    gap: var(--grid-gap);
    
    padding: var(--grid-gap);
    position: relative;
}

.cell {
    background-color: #aaaaaa;
    border-radius: 1vmin;
}

.tile {

    --background-lightness: 90%;
    --text-lightness: 30%;

    animation: show 200ms ease-in-out;

    background-color: hsl(200, 50%, var(--background-lightness));
    border-radius: 1vmin;

    color: hsl(200, 50%, var(--text-lightness));

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 7vmin;
    font-weight: bold;

    height: var(--grid-track-size);
    width: var(--grid-track-size);
    
    position: absolute;
    top: calc((var(--x) * (var(--grid-track-size) + var(--grid-gap))) + var(--grid-gap));
    left: calc((var(--y) * (var(--grid-track-size) + var(--grid-gap))) + var(--grid-gap));

    animation: show 200ms ease-in-out;
}

@keyframes show {
    0% {
        transform: scale(0);
    }
}